@model Hotel.Web.Models.Usuario.Request.UsuarioRemoveRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Usuario</h1>

<h3>Estas seguro de que quieres borrar este usuario?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeUser)
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="ChangeUser" class="form-control" required />
            <span asp-validation-for="ChangeUser" class="text-danger"></span>
                <!--@Html.DisplayFor(model => model.ChangeUser) -->
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            <input asp-for="ChangeDate" class="form-control" required />
            <span asp-validation-for="ChangeDate" class="text-danger"></span>
                <!--@Html.DisplayFor(model => model.ChangeDate)-->
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Usuarios</a>
    </form>
</div>
