@model IEnumerable<Hotel.web.Models.EstadohabitacionWModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Estados Api</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
           
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdEstadoHabitacion  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdEstadoHabitacion  }) |
            </td>
        </tr>
}
    </tbody>
</table>
