@model Hotel.Web.Models.RolUsuario.Request.RolUsuarioRemoveRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Rol</h1>

<h3>Estas seguro de que quieres eliminar este rol</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdRolUsuario" class="control-label"></label>
                <input asp-for="IdRolUsuario" readonly class="form-control" />
                <span asp-validation-for="IdRolUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeUser" class="control-label">Eliminador</label>
                <input asp-for="ChangeUser" class="form-control" />
                <span asp-validation-for="ChangeUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDate" class="control-label">Fecha Eliminacion</label>
                <input asp-for="ChangeDate" class="form-control" />
                <span asp-validation-for="ChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Roles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
